.opennavigation .leftnavrow {
    /*max-width: 350px;
    width: 350px;*/
}

#tdleftnav {
    width: 75px;    
    position: relative;
}

.leftnavrow {
    max-width: 75px;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.leftnav, .dplist {
    width: 250px;
    /*border-right: solid 1px #E6E6E6;*/
    height: 100%;
    overflow: auto;
    font-size: 13px;
    float: left;
}

    .leftnav ul li {
        cursor: pointer;
    }

        .leftnav ul li a {
            padding: 10px 0 10px 10px;
            display: block;
            color: #fff;
        }

            .leftnav ul li a:hover {
                background: #000;
                cursor: pointer !important;
            }

            .leftnav ul li a.active {
                background: #E1F5EE;
            }


.opennavigation .leftnavtd {
    max-width: 350px;
    width: 350px;
    overflow: auto;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    left: 90px;
}

.leftnavtd {
    opacity:0.9;
    height: calc(100vh - 100px);
    position: absolute;
    overflow: hidden;
    max-width: 0px;
    width: 0px;
    left: -90px;
    top: 0px;
    background: #252e35;
    z-index: 1000;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
   
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contentarea {
    width: 100%;
    padding: 5px 10px 10px 10px;
    height: calc(100vh - 28px);
    overflow: auto;
}

.ln-scontainer {
    border-bottom: solid 1px #E5E5E5;
    height: 44px;
    border-right: solid 1px #E6E6E6;
}

.ln-search {
    border: none;
    width: 85%;
    outline: none;
    padding: 4px 0 0 3px;
    height: 37px;
}

.ln-sicon {
    background-position: -163px -8px;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 8px;
}

.dplist {
    width: 325px;
}

    .dplist ul li {
        padding: 10px;
        width: 305px;
        border-bottom: solid 1px #E5E5E5;
    }

.s-pp {
    background-position: -495px -173px;
    height: 45px;
    width: 45px;
    float: left;
}

.ln-pname {
    float: left;
    padding: 2px 0 5px 10px;
    font-size: 14px;
    width: 250px;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

    #sidebar.active {
        margin-left: -250px;
        transform: rotateY(100deg);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #6d7fcc;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }
