.btn {
    -moz-box-shadow: 0px 10px 20px -6px #a9a9a985;
    -webkit-box-shadow: 0px 10px 20px -6px #a9a9a985;
    box-shadow: 0px 10px 20px -6px #a9a9a985;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: auto;
}

.main-div {
    height: 100%;
}

select.form-control {
    padding-top: 2px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#waitLoading {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 100000;
    /*display:block!important;*/
}

    #waitLoading .background-shadow {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: #000;
        opacity:0.2;
    }

    #waitLoading .pleasewait-div {
        margin: auto;
        position: absolute;
        color: white;
        height: 50px;
        width: 50px;
        vertical-align: middle;
        display: block;
        top: 30%;
        /*bottom: 0;*/
        left: 0;
        right: 0;
    }

