body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Nav bar */
.naviconbtn {
    font-size:22px;
}
/* Nav bar Close*/

/*Progress bar*/


#waitLoading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

#waitLoading .waitLoadingFake {
    position: absolute;
    top: 0;
    left: 0;
    /*background: #000;*/
    opacity: 0.7;
    height: 100%;
    width: 100%;
    /* z-index: 100000; */
}

#waitLoading .waitLoadingDiv {
    position: absolute;
    top: 45%;
    left: 45%;
}

#waitLoading .waitLoadingDiv .waitLoadingDivloader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


