body {
}
#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
}

    #pageFooter:after {
        counter-increment: page;
        content: counter(page);
    }

    #pageFooter:after {
        counter-increment: page;
        content: "Page " counter(page);
        left: 0;
        top: 100%;
        white-space: nowrap;
        z-index: 20;
        -moz-border-radius: 5px;
        -moz-box-shadow: 0px 0px 4px #222;
        background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    }


.sechead {
background-color:red;
}