:host {
  ion-content {
    //  --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    --background: none;
    background-image: url("/assets/img/loginbackground.png");
  }
}

.paz {
  position: relative;
  z-index: 10;
}
