@{
    Layout = "_Layout.cshtml";
}
<div class="sechead pb5 fs14 mt20 "><h4><b>Company</b></h4></div>
<div class="container mt-5">
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-12">
                <label>Company Name</label>
                <input type="text" class="form-control" id="CompanyName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <div class="form-group">
                    <label>Addresse</label>
                    <input type="text" class="form-control" id="Address">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label>Phone1</label>
                    <input type="text" class="form-control" id="Phone1">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="inputAddress2">Phone2</label>
                    <input type="text" class="form-control" id="Phone2">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="inputAddress2">Email</label>
                    <input type="text" class="form-control" id="Email">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label>GST No.</label>
                    <input type="text" class="form-control" id="GSTNo">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="inputAddress2">Add PAN No.</label>
                    <input type="text" class="form-control" id="PANNo">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-1">
                <button type="button" class="btn btn-primary" onclick="saveData();">Save</button>
            </div>
            <div class="col col-md-1">
                <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script type="text/javascript">
        var id = querySt("id");

        $(function () {
            if (id) {
                GetById();
            }
        })

        function GetById() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Company/GetById",
                data: { "Id": id }
            }).then(function (res) {
                if (res) {
                    $("#CompanyName").val(res.CompanyName);
                    $("#Address").val(res.Address);
                    $("#Phone1").val(res.Phone1);
                    $("#Phone2").val(res.Phone2);
                    $("#Email").val(res.Email);
                    $("#GSTNo").val(res.GSTNo);
                    $("#PANNo").val(res.PANNo);
                }
            })
        }

        function saveData() {
            if (!$("#CompanyName").val()) {
                alert('Please enter Company Name');
                $("#CompanyName").focus()
                return false;
            }

            if (!$("#Address").val()) {
                alert('Please enter Address');
                $("#Address").focus()
                return false;
            }

            if (!$("#Phone1").val()) {
                alert('Please enter Phone1');
                $("#Phone1").focus()
                return false;
            }

            if (!$("#Phone2").val()) {
                alert('Please enter Phone2');
                $("#Phone2").focus()
                return false;
            }

            if (!$("#Email").val()) {
                alert('Please enter Email');
                $("#Email").focus()
                return false;
            }

            if (!$("#GSTNo").val()) {
                alert('Please enter GST No');
                $("#GSTNo").focus()
                return false;
            }

           if (!$("#PANNo").val()) {
                alert('Please enter PAN No');
                $("#PANNo").focus()
                return false;
            }

            ajaxcall.post({
                url: AppConfig.ApiPath + "Company/AddData",
                data: {
                    Id: id,
                    CompanyName: $("#CompanyName").val(),
                    Address: $("#Address").val(),
                    Phone1: $("#Phone1").val(),
                    Phone2: $("#Phone2").val(),
                    Email: $("#Email").val(),
                    GSTNo: $("#GSTNo").val(),
                    PANNo: $("#PANNo").val()
                }
            }).then(res => {
                alert("Saved successfully");
                window.history.back();
            }, err => {
                alert(err.responseJSON);
            })
        }

        function goBack() {
                 window.history.back();
        }
    </script>
}