@{
    Layout = "_Layout.cshtml";
}


<div class="row mt-2">
    <div class="col-sm-10"><h4>Customer List</h4></div>
    <div class="col-sm-2 text-right">
        <button type="button"
                class="btn btn-info btn-sm noSales" style="float:right;" onclick="AddCustomer()">
            Add New
        </button>
    </div>
</div>
<div class="row">
    <div style="width:100%;padding:15px;">
        <table class="table table-hover"
               id="tblCustomerList"
               cellspacing="0"
               align="center"
               width="100%">
        </table>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        var oTable;
        $(function () {
            LoadTable();
        })

        function LoadTable() {
            oTable = $('#tblCustomerList').DataTable({
                //dom: "<'row'<'col-sm-3'l><'col-sm-6'p><'col-sm-3 text-align-right'f>>" +
                //    "<'row'<'col-sm-12'tr>>" +
                //    "<'row'<'col-sm-5'i>>",
                "processing": true,
                "serverSide": true,
                "searching": false,
                "responsive": true,
                initComplete: function () {

                    $('#tblCustomerList thead tr')
                        //.clone(true)
                        .addClass('filters')
                        //.appendTo('#tblCustomerList thead')
                        ;

                    var api = this.api();

                    // For each column
                    api
                        .columns()
                        .eq(0)
                        .each(function (colIdx) {
                            if (colIdx == 4) return;
                            // Set the header cell to contain the input element
                            var cell = $('.filters th').eq(
                                $(api.column(colIdx).header()).index()
                            );
                            var title = $(cell).text();
                            //$(cell).html('<input type="text" placeholder="' + title + '" />');
                            $(cell).append('<br><input type="text" placeholder="' + title + '" />');

                            // On every keypress in this input
                            $(
                                'input',
                                $('.filters th').eq($(api.column(colIdx).header()).index())
                            )
                                .off('keyup change')
                                .on('keyup change', function (e) {
                                    e.stopPropagation();

                            //        //// Get the search value
                            //        //$(this).attr('title', $(this).val());
                            //        //var regexr = '({search})'; //$(this).parents('th').find('select').val();

                            //        //var cursorPosition = this.selectionStart;
                            //        //// Search the column for that value
                            //        //api
                            //        //    .column(colIdx)
                            //        //    .search(
                            //        //        this.value != ''
                            //        //            ? regexr.replace('{search}', '(((' + this.value + ')))')
                            //        //            : '',
                            //        //        this.value != '',
                            //        //        this.value == ''
                            //        //    )
                            //        //    .draw();

                            //        //$(this)
                            //        //    .focus()[0]
                            //        //    .setSelectionRange(cursorPosition, cursorPosition);
                                });
                        });
                },
                "ajax": {
                    "url": AppConfig.ApiPath + "Customer/GetList",
                    "type": "POST",
                    "processing": true,
                    "serverSide": true,
                    "datetype": "json",
                    "data": {}
                },
                "drawCallback": function () {
                    $(".paginate_button.current").addClass(" actionbtn hor mr-0 ml-1 active").removeClass("paginate_button current");
                    $(".paginate_button").addClass(" actionbtn hor mr-0 ml-1").removeClass("paginate_button");

                    AfterDrawTable();
                },
                "columns": [
                    {
                        title: "Name",
                        data: "CustomerName",
                        class: "text-center"
                    },
                    {
                        title: "Mobile",
                        data: "Mobile",
                        class: "text-center"
                    },
                    {
                        title: "Site Name",
                        data: "SiteName",
                        class: "text-center"
                    },
                    {
                        title: "Shop/Office",
                        data: "PlotNo",
                        class: "text-center"
                    },
                    {
                        title: "",
                        data: "Id",
                        class: "text-center",
                        render: (data, display, alldata) => {
                            return `<button class ='btnedit actionbtn btn  btn-sm' onclick="EditClick(this);" data-plotid="${alldata.PlotID}" data-siteid="${alldata.SiteID}" data-id='${data}'><i class ='fa fa-edit'></i>&nbsp;Edit</button>`;
                        }
                    }
                ]
            });
            oTable.on('responsive-resize', function (e, datatable, columns) {
                setTimeout(AfterDrawTable, 500);
            });

        }

        function EditClick(obj) {

            let id = $(obj).attr('data-id');
            let plotid = $(obj).attr('data-plotid');
            let siteid = $(obj).attr('data-siteid');
            window.location.assign(`./Customer?siteid=${siteid}&plotid=${plotid}`);
        }

        function AfterDrawTable() {
            //var that = this;
            //$(".btnedit").click(function () {
            //})
        }

        function AddCustomer() {
            window.location.assign("Customer");
        }
    </script>
}




