@{
    Layout = "_Layout.cshtml";
}
@section style{
    <style type="text/css">
        #myTab li a.nav-link {
            font-size: 20px;
        }

        .actioncol {
            width: 200px;
        }

        .TitleDiv {
            display: none !important;
        }

        .bankDiv.hidediv {
            display: none !important;
        }
    </style>
}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Site Name</label>
                <select class="form-control" id="SiteName" onchange="siteChange();">
                    <option value="0">Select</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Shop/Office</label>
                <select class="form-control" id="PlotID" onchange="plotChange();"></select>
            </div>
        </div>
    </div>


    <div class="" id="subdetails" style="display:none;">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a class="nav-link" href="#Customer" data-toggle="tab" aria-selected="true">Customer</a></li>
            <li><a class="nav-link" href="#Payment" data-toggle="tab">Payment</a></li>
            <li><a class="nav-link" href="#Document" data-toggle="tab">Document</a></li>
        </ul>
        <div id="Content" class="tab-content" style="height: 100%;">

            <div class="tab-pane fade in active" id="Customer">

                <div class="CustomerDiv shadow border border-light" style="padding:25px; margin-top: 10px">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control CustomerName" id="CustomerName">
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label for="inputAddress2">Age</label>
                                <input type="number" class="form-control Age" id="Age">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Adharcard</label>
                            <input type="text" class="form-control AdharCard" id="AdharCard" max="12" maxlength="12">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>PAN Card</label>
                                <input type="text" class="form-control PANCard" id="PANCard">
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label for="inputAddress2">Address</label>
                                <input type="text" class="form-control Address" id="Address">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Mobile</label>
                            <input type="text" class="form-control Mobile" id="Mobile" min="1000000000" max="9999999999" maxlength="10">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control Email" id="Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Occupation</label>
                                <input type="text" class="form-control Occupation" id="Occupation">
                            </div>
                        </div>
                        <div class="col-md-4 SaleAmountDiv">
                            <div class="form-group">
                                <label>Sale Amount</label>
                                <input type="number" class="form-control SaleAmount" value="1000000" id="SaleAmount">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 SaleAmountDiv">
                            <div class="form-group">
                                <label>Reg No</label>
                                <input type="text" class="form-control RegNo" value="" id="RegNo">
                            </div>
                        </div>
                        <div class="col-md-4 SaleAmountDiv">
                            <div class="form-group">
                                <label>Reg Date</label>
                                <input type="date" class="form-control RegDate" value="" id="RegDate">
                            </div>
                        </div>
                        <div class="col-md-4 SaleAmountDiv">
                            <div class="form-group">
                                <label>Allotment Letter Date</label>
                                <input type="date" class="form-control AllotmentLtDt" value="" id="AllotmentLtDt">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 SaleAmountDiv TitleDiv">
                        <div class="form-group">
                            <label>Title Clearence From</label>
                            <input type="date" class="form-control TitleClearFrom" value="" id="TitleClearFrom">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status</label>
                                <select id="Status" class="form-control Status">
                                    <option>--- Status---</option>
                                    <option value="Book">Book</option>
                                    <option value="Unbook">Unbook</option>
                                    <option value="Dastavej">Dastavej</option>
                                    <option value="Banakhat">Banakhat</option>
                                    <option value="Cancelled">Cancelled</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 SaleAmountDiv">
                            <div class="form-group">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="loancheck" class="loancheck" onchange="isLoanChange();" />
                                    <label for="loancheck">Loan</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 SaleAmountDiv bankDiv hidediv">
                            <div class="form-group">
                                <label>Bank Name</label>
                                <input type="text" class="form-control bankname" value="" id="bankname">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col col-md-4">
                            <input type="hidden" class="customerid" value="0" />
                            <button type="button" class="btn btn-primary noSales" onclick="saveCustomerData(this);">Save</button>
                            <button type="button" class="btn btn-warning btnjointholder noSales" onclick="AddJointHolder()">Joint Holder</button>
                            <button type="button" class="btn btn-danger btndelcustomer noSales" onclick="DeleteCustomer(this)" style="display: none;">Delete</button>
                        </div>
                    </div>

                </div>

            </div>

            <div class="tab-pane fade" id="Payment">
                <span id="totalamount"></span>
                <div class="row" style="width:100%">
                    <div class="col col-6 text-success" style="font-size: 20px">
                        <span>Sale Amount:</span> <span id="saleAmountLbl">0</span>
                    </div>
                    <div class="col col-6 text-danger text-right" style="font-size: 20px">
                        <span>Outstanding:</span> <span id="ountStandingAmountLbl">0</span>
                    </div>
                </div>

                <div style="width:100%;padding:15px;">
                    <table class="table table-hover"
                           id="tblPaymentList"
                           cellspacing="0"
                           align="center"
                           width="100%"></table>
                </div>

                <div class="row mt-4 mb-4">
                    <button type="button" id="AddPaymentButton" class="btn btn-primary noSales">Add New Payment</button>
                </div>

                <div class="container" id="AddPayment" style="display:none;">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label for="inputAddress2">Amount</label>
                                <input type="number" class="form-control" id="Amount">
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label for="inputAddress2">Cheque No</label>
                                <input type="text" class="form-control" id="ChequeNo">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Bank</label>
                            <input type="text" class="form-control" id="Bank">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Date of Issue</label>
                                <input type="date" class="form-control" id="DateOfIssue">
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Check Date</label>
                                <input type="date" class="form-control" id="ChequeDate">
                            </div>
                        </div>
                        <div class="col-md-4 ">
                            <div class="form-group">
                                <label>Payment Type</label>
                                <select class="form-control" id="Part">
                                    <option value="Part">Part</option>
                                    <option value="Full">Full</option>
                                    <option value="Advance">Advance</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row noSales">
                        <div class="col col-md-1">
                            <button type="button" class="btn btn-primary" onclick="savePaymentData();">Save</button>
                        </div>
                        <div class="col col-md-1">
                            <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Document">
                <table class="table table-hover dataTable no-footer">
                    <thead>
                        <tr>
                            <th> SR No.</th>
                            <th>Document</th>
                            <th>Download</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Banakhat</td>
                            <td><button type="button" onclick="DocumentDownload('Banakhat');" class="actionbtn btn  btn-sm"><i class="fa fa-download"></i>&nbsp;Download</button></td>
                            <td><button type="button" onclick="EmailDocument('Banakhat');" class="actionbtn btn  btn-sm"><i class="fa fa-envelope"></i>&nbsp;Email</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Sale Deed</td>
                            <td><button type="button" onclick="DocumentDownload('Sale Deed');" class="actionbtn btn  btn-sm"><i class="fa fa-download"></i>&nbsp;Download</button></td>
                            <td><button type="button" onclick="EmailDocument('Sale Deed');" class="actionbtn btn  btn-sm"><i class="fa fa-envelope"></i>&nbsp;Email</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Allotment Latter</td>
                            <td><button type="button" onclick="DocumentDownload('Allotment Letter');" class="actionbtn btn  btn-sm"><i class="fa fa-download"></i>&nbsp;Download</button></td>
                            <td><button type="button" onclick="EmailDocument('Allotment Letter');" class="actionbtn btn  btn-sm"><i class="fa fa-envelope"></i>&nbsp;Email</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="paymentPreview">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="modal-title">Banakhat</h4>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PrintPreview">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="the-frame" src="" style="width:100%; min-height:300px;height:100%;" allowfullscreen webkitallowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        var oPayTable,
            id = querySt("id"),
            siteid = querySt("siteid"),
            plotid = querySt("plotid"),
            paymentId,
            curdate;

        $(function () {
            curdate = moment(new Date()).format('YYYY-MM-DD')
            $("#RegDate,#AllotmentLtDt,#TitleClearFrom,#TitleClearDt").val(curdate);
            $('a[href="#Customer"]').click();
            init();
        })

        //const targetDiv = document.getElementById("AddCusromer");
        //const btn = document.getElementById("AddCusromerButton");
        //btn.onclick = function () {
        //    if (targetDiv.style.display !== "none") {
        //        targetDiv.style.display = "none";
        //    } else {
        //        targetDiv.style.display = "block";
        //    }
        //};

        const targetDiv1 = document.getElementById("AddPayment");
        const btn1 = document.getElementById("AddPaymentButton");
        btn1.onclick = function () {
            if (targetDiv1.style.display !== "none") {
                targetDiv1.style.display = "none";
            } else {
                targetDiv1.style.display = "block";
            }
        };

        async function init() {
            // await PlotIDDropDownAll();
            await SiteNameDropDownAll();
            if (siteid) {
                $("#SiteName").val(siteid);
                await siteChange();
                if (plotid) {
                    $("#PlotID").val(plotid);
                    plotChange();
                }
                $("#SiteName,#PlotID").attr("disabled", "disabled");
            }
        }

        async function siteChange() {
            await PlotIDDropDownAll();
            plotChange();
        }

        async function plotChange() {
            if ($("#PlotID").val() != "0") {
                $("#CustomerName").val('');
                $("#Age").val('');
                $("#AdharCard").val('');
                $("#PANCard").val('');
                $("#Address").val('');
                $("#Mobile").val('');
                $("#Email").val('');

                var saleAmount = $("#PlotID").find(":selected").attr("SaleAmount");
                $("#saleAmountLbl").text(saleAmount);
                $("#SaleAmount").val(saleAmount);

                $("#subdetails").show();
                GetAllByPlotId();
                LoadPaymentTable();
            } else {
                $("#subdetails").hide();
            }
        }

        function isLoanChange() {
            if ($("#loancheck").is(":checked")) {
                $(".bankDiv").removeClass("hidediv");
            } else {
                $(".bankDiv").addClass("hidediv");
                $(".bankname").val('');
            }
        }

        function PlotIDDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Plot/PlotIDDropDownAll?Id=" + $("#SiteName").val(),
                    data: {
                        Id: $("#SiteName").val()
                    }
                }).then((res) => {
                    if (res) {
                        $("#PlotID").empty();
                        $("<option>").val("0").text("Select").appendTo("#PlotID");
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).attr("SaleAmount", res[i].SellAmount).appendTo("#PlotID");
                        }
                    }
                    result();
                }, err => error(err));
            });
        }

        function SiteNameDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Site/SiteNameDropDownAll"
                }).then((res) => {
                    if (res) {
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).appendTo("#SiteName");
                            //document.getElementById("mySelect").disabled=false;
                            //$('#PlotNo').prop('disabled', false);
                        }
                    }
                    result();
                }, err => error(err));
            });
        }

        function GetById() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Customer/GetById",
                data: { "Id": id }
            }).then(function (res) {
                if (res) {
                    $("#CustomerName").val(res.CustomerName);
                    $("#Age").val(res.Age);
                    $("#AdharCard").val(res.AdharCard);
                    $("#PANCard").val(res.PANCard);
                    $("#Address").val(res.Address);
                    $("#Mobile").val(res.Mobile);
                    $("#Email").val(res.Email);
                    $("#Occupation").val(res.Occupation);
                }
            })
        }

        function GetAllByPlotId() {
            $("#RegDate,#AllotmentLtDt,#TitleClearFrom,#TitleClearDt").val(curdate);
            ajaxcall.post({
                url: AppConfig.ApiPath + "Customer/GetAllByPlotId",
                data: {
                    "PlotID": $("#PlotID").val()
                }
            }).then(function (response) {
                if (response) {
                    $(".CustomerDiv:gt(0)").remove();
                    response.customer.forEach((res, i) => {
                        if (i > 0) {
                            AddJointHolder();
                        }
                        let $custdiv = $(`.CustomerDiv:eq(${i})`);
                        $(".customerid", $custdiv).val(res.Id);
                        $(".CustomerName", $custdiv).val(res.CustomerName);
                        $(".Age", $custdiv).val(res.Age);
                        $(".AdharCard", $custdiv).val(res.AdharCard);
                        $(".PANCard", $custdiv).val(res.PANCard);
                        $(".Address", $custdiv).val(res.Address);
                        $(".Mobile", $custdiv).val(res.Mobile);
                        $(".Email", $custdiv).val(res.Email);
                        $(".Occupation", $custdiv).val(res.Occupation);
                    });
                    $(".Status").val(response.plot.Status);
                    $(".RegNo").val(response.plot.RegNo);
                   @* $(".RegDate").val(response.plot.RegDate);
                    $(".AllotmentLtDt").val(response.plot.AllotmentLtDt);
                    $(".TitleClearFrom").val(response.plot.TitleClearFrom);
                    $(".TitleClearDt").val(response.plot.TitleClearDt);*@

                    $(".loancheck").prop("checked", false);
                    isLoanChange();
                    $(".bankname").val('');
                    if (response.plot.Bank) {
                        $(".loancheck").prop("checked", true);
                        isLoanChange();
                        $(".bankname").val(response.plot.Bank);
                    }
                    if (response.plot.RegDate) {
                        var now = new Date(response.plot.RegDate)
                        var day = ("0" + now.getDate()).slice(-2);
                        var month = ("0" + (now.getMonth() + 1)).slice(-2);
                        var today = now.getFullYear() + "-" + (month) + "-" + (day);
                        $('#RegDate').val(today);
                    }
                    if (response.plot.AllotmentLtDt) {
                        now = new Date(response.plot.AllotmentLtDt)
                        day = ("0" + now.getDate()).slice(-2);
                        month = ("0" + (now.getMonth() + 1)).slice(-2);
                        today = now.getFullYear() + "-" + (month) + "-" + (day);
                        $('#AllotmentLtDt').val(today);
                    }
                    if (response.plot.TitleClearFrom) {
                        now = new Date(response.plot.TitleClearFrom)
                        day = ("0" + now.getDate()).slice(-2);
                        month = ("0" + (now.getMonth() + 1)).slice(-2);
                        today = now.getFullYear() + "-" + (month) + "-" + (day);
                        $('#TitleClearFrom').val(today);
                    }
                    if (response.plot.TitleClearDt) {
                        now = new Date(response.plot.TitleClearDt)
                        day = ("0" + now.getDate()).slice(-2);
                        month = ("0" + (now.getMonth() + 1)).slice(-2);
                        today = now.getFullYear() + "-" + (month) + "-" + (day);
                        $('#TitleClearDt').val(today);
                    }
                    @*var now = new Date(response.plot.RegDate)
                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);
                    var today = now.getFullYear() + "-" + (month) + "-" + (day);
                    $('#RegDate').val(today);

                    now = new Date(response.plot.AllotmentLtDt)
                    day = ("0" + now.getDate()).slice(-2);
                    month = ("0" + (now.getMonth() + 1)).slice(-2);
                    today = now.getFullYear() + "-" + (month) + "-" + (day);
                    $('#AllotmentLtDt').val(today);

                    now = new Date(response.plot.TitleClearFrom)
                    day = ("0" + now.getDate()).slice(-2);
                    month = ("0" + (now.getMonth() + 1)).slice(-2);
                    today = now.getFullYear() + "-" + (month) + "-" + (day);
                    $('#TitleClearFrom').val(today);

                    now = new Date(response.plot.TitleClearDt)
                    day = ("0" + now.getDate()).slice(-2);
                    month = ("0" + (now.getMonth() + 1)).slice(-2);
                    today = now.getFullYear() + "-" + (month) + "-" + (day);
                    $('#TitleClearDt').val(today);*@
                }
            })
        }

        async function DeletePayment(Id) {
            if (!confirm("Are you sure?")) return;
            ajaxcall.post({
                url: AppConfig.ApiPath + "Payment/Delete",
                data: {
                    Id: Id
                }
            }).then(res => {
                LoadPaymentTable();
            }, err => {
                alert(err.responseJSON);
            })

        }

        function getPaymentData() {
            $("#AddPayment").show();
            ajaxcall.post({
                url: AppConfig.ApiPath + "Payment/GetById",
                data: { "Id": paymentId }
            }).then(function (res) {
                if (res) {
                    $("#Amount").val(res.Amount);
                    $("#ChequeNo").val(res.ChequeNo);
                    $("#Bank").val(res.Bank);

                    var now = new Date(res.DateOfIssue)
                    var day = ("0" + now.getDate()).slice(-2);
                    var month = ("0" + (now.getMonth() + 1)).slice(-2);
                    var today = now.getFullYear() + "-" + (month) + "-" + (day);
                    $('#DateOfIssue').val(today);

                    now = new Date(res.ChequeDate)
                    day = ("0" + now.getDate()).slice(-2);
                    month = ("0" + (now.getMonth() + 1)).slice(-2);
                    today = now.getFullYear() + "-" + (month) + "-" + (day);
                    $('#ChequeDate').val(today);

                    $("#Part").val(res.Part);
                }
            })
        }
      
        function LoadTable() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Payment/totalamount",
                "type": "POST",
                "processing": true,
                "serverSide": true,
                "datetype": "json",
                "data": {
                    "PlotID": $("#PlotID").val()
                }
            }).then(function (res) {
                if (res) {
                    $("#totalamount").text(res.Amount);
                    paymentcheck();
                }
            }, err => {

            });
        }
        function LoadPaymentTable() {
            if (oPayTable) {
                $('#tblPaymentList').DataTable().clear().destroy();
            }
            oPayTable = $('#tblPaymentList').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6'p><'col-sm-3 text-align-right'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i>>",
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": AppConfig.ApiPath + "Payment/GetList",
                    "type": "POST",
                    "processing": true,
                    "serverSide": true,
                    "datetype": "json",
                    "data": {
                        PlotId: $("#PlotID").val()
                    }
                },
                "drawCallback": function () {
                    $(".paginate_button.current").addClass(" actionbtn hor mr-0 ml-1 active").removeClass("paginate_button current");
                    $(".paginate_button").addClass(" actionbtn hor mr-0 ml-1").removeClass("paginate_button");
                    $('.dropdown').dropdown()
                    // AfterDrawTable();
                    let totAmount = 0;
                    $("td.amount-cell").each(function () {
                        totAmount += parseFloat($(this).text());
                    });
                    let outStanding = parseFloat($("#SaleAmount").val()) - totAmount;
                    $("#ountStandingAmountLbl").text(outStanding);

                    $(".btndownloadPay").click(function () {
                        let id = $(this).attr("data-id");
                        DownloadReceipt(id);
                    });

                    $(".btneditPay").click(function () {
                        paymentId = $(this).attr("data-id");
                        getPaymentData();
                    });

                    $(".btndelPay").click(function () {
                        let Id = $(this).attr("data-id");
                        DeletePayment(Id);
                    });

                    $(".btnemailPay").click(function () {
                        let Id = $(this).attr("data-id");
                        SendReceipt(Id);
                    });
                },
                "columns": [
                    {
                        title: "",
                        data: "Id",
                        class: "text-center actioncol",
                        render: (data, display, alldata) => {
                            return `<button class ='btneditPay noSales actionbtn btn  btn-sm' data-id='${data}' title="Edit"><i class ='fa fa-edit'></i></button>
                                            <button class ='btndelPay noSales actionbtn btn btn-sm' data-id='${data}' title="Delete"><i class ='fa fa-trash'></i></button>
                                            <button class ='btndownloadPay actionbtn btn  btn-sm' data-id='${data}' title="Download"><i class ='fa fa-download'></i></button>
                                            <button class ='btnemailPay noSales actionbtn btn  btn-sm' data-id='${data}' title="Email"><i class ='fa fa-envelope'></i></button>`;
                        }
                    },
                    //{
                    //    title: "Shop/Office",
                    //    data: "PlotNo",
                    //    class: "text-center"
                    //},
                    {
                        title: "Amount",
                        data: "Amount",
                        class: "text-center amount-cell"
                    },
                    {
                        title: "Cheque No",
                        data: "ChequeNo",
                        class: "text-center"
                    },
                    {
                        title: "Bank",
                        data: "Bank",
                        class: "text-center"
                    },
                    {
                        title: "Date Of Issue",
                        data: "DateOfIssueformate",
                        class: "text-center"
                    },
                    {
                        title: "Cheque Date",
                        data: "ChequeDateformate",
                        class: "text-center"
                    }
                ]
            });
        }


        function outstanding_amounts() {
            var SaleAmt = 1000000;
            var Amt = $(this).find('#Amount').val();
            var amount = parseInt(SaleAmt) - parseInt(Amt);
            $(this).find('#Outstanding').val(amount);
        }

        function saveCustomerData(obj) {
            var $custdiv = $(obj).closest(".CustomerDiv");
            if (!$(".CustomerName", $custdiv).val()) {
                alert('Please enter Name');
                $(".CustomerName", $custdiv).focus()
                return false;
            }

            if (!$(".Age", $custdiv).val()) {
                alert('Please enter Age');
                $(".Age", $custdiv).focus()
                return false;
            }

            if (!$(".AdharCard", $custdiv).val()) {
                alert('Please enter AdharCard');
                $(".AdharCard", $custdiv).focus()
                return false;
            }

            if (!$(".PANCard", $custdiv).val()) {
                alert('Please enter PANCard');
                $(".PANCard", $custdiv).focus()
                return false;
            }

            if (!$(".Address", $custdiv).val()) {
                alert('Please enter Address');
                $(".Address", $custdiv).focus()
                return false;
            }

            //if (!$(".Mobile", $custdiv).val()) {
            //    alert('Please enter Mobile');
            //    $(".Mobile", $custdiv).focus()
            //    return false;
            //}

            //if (!$(".Email", $custdiv).val()) {
            //    alert('Please enter Email');
            //    $(".Email", $custdiv).focus()
            //    return false;
            //}

            ajaxcall.post({
                url: AppConfig.ApiPath + "Customer/AddData",
                data: {
                    Id: $(".customerid", $custdiv).val(),
                    SiteID: $("#SiteID").val(),
                    PlotID: $("#PlotID").val(),
                    CustomerName: $(".CustomerName", $custdiv).val(),
                    Age: $(".Age", $custdiv).val(),
                    AdharCard: $(".AdharCard", $custdiv).val(),
                    PANCard: $(".PANCard", $custdiv).val(),
                    Address: $(".Address", $custdiv).val(),
                    Mobile: $(".Mobile", $custdiv).val(),
                    Email: $(".Email", $custdiv).val(),
                    SellAmount: $(".SaleAmount", $custdiv).val(),
                    Occupation: $(".Occupation", $custdiv).val(),
                    RegNo: $(".RegNo", $custdiv).val(),
                    RegDate: $(".RegDate", $custdiv).val(),
                    Status: $(".Status", $custdiv).val(),
                    AllotmentLtDt: $(".AllotmentLtDt", $custdiv).val(),
                    TitleClearFrom: $(".TitleClearFrom", $custdiv).val(),
                    TitleClearDt: $(".TitleClearDt", $custdiv).val(),
                    Bank: $(".bankname", $custdiv).val()
                }
            }).then(res => {
                alert("Saved successfully");
                //$('a[href="#Payment"]').click();
                $("#saleAmountLbl,#ountStandingAmountLbl").text($(".SaleAmount", $custdiv).val());
            }, err => {
                alert(err.responseJSON);
            })
        }

        function savePaymentData() {
            if (!$("#Amount").val()) {
                alert('Please enter Amount');
                $("#Amount").focus()
                return false;
            }

            if (!$("#ChequeNo").val()) {
                alert('Please enter ChequeNo');
                $("#ChequeNo").focus()
                return false;
            }

            if (!$("#Bank").val()) {
                alert('Please enter Bank');
                $("#Bank").focus()
                return false;
            }

            if (!$("#DateOfIssue").val()) {
                alert('Please enter Date Of Issue');
                $("#DateOfIssue").focus()
                return false;
            }

            if (!$("#ChequeDate").val()) {
                alert('Please enter Check Date');
                $("#ChequeDate").focus()
                return false;
            }

            ajaxcall.post({
                url: AppConfig.ApiPath + "Payment/AddData",
                data: {
                    Id: paymentId,
                    PlotID: $("#PlotID").val(),
                    Amount: $("#Amount").val(),
                    ChequeNo: $("#ChequeNo").val(),
                    Bank: $("#Bank").val(),
                    DateOfIssue: $("#DateOfIssue").val(),
                    ChequeDate: $("#ChequeDate").val(),
                    Part: $("#Part").val()
                }
            }).then(res => {
                alert("Saved successfully");
                ResetPayment();
                LoadPaymentTable();
                LoadTable();
            }, err => {
                alert(err.responseJSON);
            })
        }
        function paymentcheck() {
            payment = $("#SaleAmount").val() * 10 / 100;
            if (payment <= $("#totalamount").val()) {
                PopupModel();
            }
            else {

            }
        }
        function ResetPayment() {
            paymentId = null;
            $("#Amount").val('0');
            $("#ChequeNo").val('');
            $("#Bank").val('');
            $("#DateOfIssue").val('');
            $("#ChequeDate").val('');
        }

        function DownloadReceipt(paymentId) {
            ajaxcall.file({
                url: AppConfig.ApiPath + "Payment/DownloadReceipt",
                data: {
                    Id: paymentId,
                    SiteName: $("#SiteName option:selected").text()

                }
            }).then(blobData => {
                var path = GenBlobURL(blobData);
                $('#the-frame').attr('src', path);
                $("#PrintPreview").modal('show');
            }, err => {
                alert(err.responseJSON);
            })
        }

        function SendReceipt(paymentId) {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Payment/EmailReceipt",
                data: {
                    Id: paymentId,
                    DocumentType: DocumentType
                }
            }).then(res => {
                alert(res);
            }, err => {
                alert(err.responseJSON);
            })
        }

        function convertDataURIToBinary(base64) {
            var raw = window.atob(base64);
            var rawLength = raw.length;
            var array = new Uint8Array(new ArrayBuffer(rawLength));

            for (var i = 0; i < rawLength; i++) {
                array[i] = raw.charCodeAt(i);
            }
            return array;
        }

        function ConvertDataToObject(Data) {
            var pdfAsDataUri = Data;
            var pdfAsArray = convertDataURIToBinary(pdfAsDataUri);
            var binaryData = [];
            binaryData.push(pdfAsArray);
            var dataPdf = url + window.URL.createObjectURL(new Blob(binaryData, { type: "application/pdf" }))
            return dataPdf;
        }


        function goBack() {
            window.history.back();
        }

        function AddJointHolder() {
            var $custdiv = $(".CustomerDiv:first").clone();
            $custdiv.find(".SaleAmountDiv,.btnjointholder").remove();
            $custdiv.find(".btndelcustomer").show();
            $custdiv.appendTo("#Customer");
            $(".customerid", $custdiv).val('0');
            $(".CustomerName", $custdiv).val('');
            $(".Age", $custdiv).val('');
            $(".AdharCard", $custdiv).val('');
            $(".PANCard", $custdiv).val('');
            $(".Address", $custdiv).val('');
            $(".Mobile", $custdiv).val('');
            $(".Email", $custdiv).val('');
        }

        async function DeleteCustomer(obj) {
            if (!confirm("Are you sure?")) return;
            var $custdiv = $(obj).closest(".CustomerDiv");
            var custid = $custdiv.find(".customerId").val();
            if (custid != "0") {
                ajaxcall.post({
                    url: AppConfig.ApiPath + "Customer/Delete",
                    data: {
                        Id: $(".customerid", $custdiv).val(),
                    }
                }).then(res => {
                    $custdiv.remove();
                }, err => {
                    alert(err.responseJSON);
                })
            } else {
                $custdiv.remove();
            }
        }

        function DocumentDownload(DocumentType) {
            ajaxcall.file({
                url: AppConfig.ApiPath + "Plot/DocumentDownload",
                data: {
                    Id: $("#PlotID").val(),
                    DocumentType: $("#SiteName option:selected").text() + "-" + DocumentType
                }
            }).then(blobData => {
                var path = GenBlobURL(blobData);
                $('#the-frame').attr('src', path);
                $("#PrintPreview").modal('show');
                //DownloadFileFromURL(blobData);
            }, err => {
                alert(err.responseJSON);
            })
        }

        function EmailDocument(DocumentType) {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Plot/EmailReceipt",
                data: {
                    Id: $("#PlotID").val(),
                    DocumentType: DocumentType
                }
            }).then(res => {
                alert(res);
            }, err => {
                alert(err.responseJSON);
            })
        }
        function PopupModel() {
            $("#paymentPreview").modal('show');
        }
    </script>
}