@{
    Layout = "_Layout.cshtml";
}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Site Name</label>
                <select class="form-control" id="SiteName" onchange="siteChange();">
                    <option value="0">Select</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Shop/Office</label>
                <select class="form-control" id="PlotID" onchange="plotChange();"></select>
            </div>
        </div>
    </div>


    <div class="" id="subdetails" style="display:none;">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a class="nav-link" href="#Customer" data-toggle="tab" aria-selected="true">Customer</a></li>
            <li><a class="nav-link" href="#Payment" data-toggle="tab">Payment</a></li>
            <li><a class="nav-link" href="#Document" data-toggle="tab">Document</a></li>
        </ul>
        <div id="Content" class="tab-content" style="height: 100%;">
            <div class="tab-pane fade in active" id="Customer">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sale Amount</label>
                            <input type="number" class="form-control" value="1000000" id="SaleAmount">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Installments</label>
                            <input type="number" class="form-control" value="10" id="Installments">
                        </div>
                    </div>
                    <div class="col col-md-1 offset-3 mt-4">
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
                <div style="width:100%;padding:15px;">
                    <table class="table table-hover"
                           id="tblCustomerList"
                           cellspacing="0"
                           align="center"
                           width="100%"></table>
                </div>
               
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" id="CustomerName">
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="inputAddress2">Age</label>
                            <input type="number" class="form-control" id="Age">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Adharcard</label>
                        <input type="text" class="form-control" id="AdharCard" maxlength="12">
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>PAN Card</label>
                            <input type="text" class="form-control" id="PANCard">
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="inputAddress2">Address</label>
                            <input type="text" class="form-control" id="Address">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Mobile</label>
                        <input type="number" class="form-control" id="Mobile" maxlength="10">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" id="Email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-1">
                        <button type="button" class="btn btn-primary" onclick="saveCustomerData();">Save</button>
                    </div>
                    <div class="col col-md-1">
                        <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
                    </div>
                    <div class="col col-md-2">
                        <button type="button" class="btn btn-primary" onclick="">Joint Holder</button>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="Payment">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sale Amount</label>
                            <input type="number" class="form-control" value="1000000" id="SaleAmount">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Outstanding</label>
                            <input type="number" class="form-control" id="Outstanding">
                        </div>
                    </div>
                    <div class="col col-md-1 offset-3 mt-4">
                        <button type="button" class="btn btn-primary" onclick="outstanding_amounts();">Save</button>
                    </div>
                </div>

                <div style="width:100%;padding:15px;">
                    <table class="table table-hover"
                           id="tblPaymentList"
                           cellspacing="0"
                           align="center"
                           width="100%"></table>
                </div>

               
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="inputAddress2">Amount</label>
                            <input type="number" class="form-control"  id="Amount">
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="inputAddress2">Cheque No</label>
                            <input type="number" class="form-control" id="ChequeNo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Bank</label>
                        <input type="text" class="form-control" id="Bank">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Date of Issue</label>
                            <input type="date" class="form-control" id="DateOfIssue">
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Check Date</label>
                            <input type="date" class="form-control" id="ChequeDate">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col col-md-1">
                        <button type="button" class="btn btn-primary" onclick="savePaymentData();">Save</button>
                    </div>
                    <div class="col col-md-1">
                        <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="Document">
                <table class="table table-hover dataTable no-footer">
                    <thead>
                        <tr>
                            <th> SR No.</th>
                            <th>Document</th>
                            <th>Download</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Banakhat</td>
                            <td><button type="button" class="actionbtn btn  btn-sm"><i class="fa fa-download"></i>Download</button></td>
                            <td><button type="button" class="actionbtn btn  btn-sm"><i class="fa fa-envelope"></i>Email</button></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Sale Deed</td>
                            <td><button type="button" class="actionbtn btn  btn-sm"><i class="fa fa-download"></i>Download</button></td>
                            <td><button type="button" class="actionbtn btn  btn-sm"><i class="fa fa-envelope"></i>Email</button></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Allotment Latter</td>
                            <td><button type="button" class="actionbtn btn  btn-sm"><i class="fa fa-download"></i>Download</button></td>
                            <td><button type="button" class="actionbtn btn  btn-sm"><i class="fa fa-envelope"></i>Email</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        var id = querySt("id");

        $(function () {
            $('a[href="#Customer"]').click();
            init();
            LoadCustomerTable();
            LoadPaymentTable();
        })

        async function init() {
           // await PlotIDDropDownAll();
            await SiteNameDropDownAll();
            if (id) {
                GetById();
            }
        }

        async function siteChange(){
            await PlotIDDropDownAll();
            plotChange();
        }

        async function plotChange(){
            if ($("#PlotID").val() != "0" ) {
                $("#subdetails").show();
            } else {
                $("#subdetails").hide();
            }
        }

        function PlotIDDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Plot/PlotIDDropDownAll?Id=" + $("#SiteName").val() ,
                    data:{
                        Id:$("#SiteName").val()
                    }
                }).then((res) => {
                    if (res) {
                        $("#PlotID").empty();
                        $("<option>").val("0").text("Select").appendTo("#PlotID");
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).appendTo("#PlotID");
                        }
                    }
                    result();
                }, err => error(err));
            });
        }


        function SiteNameDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Site/SiteNameDropDownAll"
                }).then((res) => {
                    if (res) {
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).appendTo("#SiteName");
                            //document.getElementById("mySelect").disabled=false;
                            //$('#PlotNo').prop('disabled', false);
                        }
                    }
                    result();
                }, err => error(err));
            });
        }

        function GetById() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Customer/GetById",
                data: { "Id": id }
            }).then(function (res) {

                if (res) {
                    $("#CustomerName").val(res.CustomerName);
                    $("#Age").val(res.Age);
                    $("#AdharCard").val(res.AdharCard);
                    $("#PANCard").val(res.PANCard);
                    $("#Address").val(res.Address);
                    $("#Mobile").val(res.Mobile);
                    $("#Email").val(res.Email);
                }

            })
        }

         function LoadCustomerTable() {
            $('#tblCustomerList').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6'p><'col-sm-3 text-align-right'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i>>",
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": AppConfig.ApiPath + "Customer/GetList",
                    "type": "POST",
                    "processing": true,
                    "serverSide": true,
                    "datetype": "json",
                    "data": {}
                },
                "drawCallback": function () {
                    $(".paginate_button.current").addClass(" actionbtn hor mr-0 ml-1 active").removeClass("paginate_button current");
                    $(".paginate_button").addClass(" actionbtn hor mr-0 ml-1").removeClass("paginate_button");

                   // AfterDrawTable();
                },
                "columns": [
                    {
                        title: "",
                        data: "Id",
                        class: "text-center",
                        render: (data, display, alldata) => {
                            return `<button class ='btnedit actionbtn btn  btn-sm' data-id='${data}'><i class ='fa fa-edit'></i>Edit</button>
                                    <button class ='btndelete actionbtn btn  btn-sm' data-id='${data}'><i class ='fa fa-trash'></i>Delete</button>`;
                        }
                    },
                    {
                        title: "Site Name",
                        data: "SiteName",
                        class: "text-center"
                    },
                    {
                        title: "Shop/Office",
                        data: "PlotNo",
                        class: "text-center"
                    },
                    {
                        title: "Name",
                        data: "CustomerName",
                        class: "text-center"
                    },
                    {
                        title: "Mobile",
                        data: "Mobile",
                        class: "text-center"

                    }
                ]
            });
        }


        function LoadPaymentTable() {
            $('#tblPaymentList').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6'p><'col-sm-3 text-align-right'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i>>",
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": AppConfig.ApiPath + "Payment/GetList",
                    "type": "POST",
                    "processing": true,
                    "serverSide": true,
                    "datetype": "json",
                    "data": {}
                },
                "drawCallback": function () {
                    $(".paginate_button.current").addClass(" actionbtn hor mr-0 ml-1 active").removeClass("paginate_button current");
                    $(".paginate_button").addClass(" actionbtn hor mr-0 ml-1").removeClass("paginate_button");

                   // AfterDrawTable();
                },
                "columns": [
                    {
                        title: "",
                        data: "Id",
                        class: "text-center",
                        render: (data, display, alldata) => {
                            return `
                                    <div class="dropdown">
                                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Action
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#"><i class ='fa fa-edit'></i>Edit</a></li>
                                            <li><a class="dropdown-item" href="#"><i class ='fa fa-trash'></i>Delete</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa fa-download"></i>Download</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="fa fa-envelope"></i>Email</a></li>
                                      </ul>
                                    </div>`;
                        }
                    },
                    {
                        title: "Shop/Office",
                        data: "PlotNo",
                        class: "text-center"
                    },
                    {
                        title: "Amount",
                        data: "Amount",
                        class: "text-center"
                    },
                    {
                        title: "Cheque No",
                        data: "ChequeNo",
                        class: "text-center"
                    },
                    {
                        title: "Bank",
                        data: "Bank",
                        class: "text-center"
                    },
                    {
                        title: "Date Of Issue",
                        data: "DateOfIssueformate",
                        class: "text-center"
                    },
                    {
                        title: "Cheque Date",
                        data: "ChequeDateformate",
                        class: "text-center"
                    }
                ]
            });
        }


        function outstanding_amounts() {
        debugger;
                var SaleAmt = 1000000;
                var Amt = $(this).find('#Amount').val();
                var amount = parseInt(SaleAmt) - parseInt(Amt);
                $(this).find('#Outstanding').val(amount);
        }

        function saveCustomerData() {

            if (!$("#CustomerName").val()) {
                alert('Please enter Name');
                $("#CustomerName").focus()
                return false;
            }

            if (!$("#Age").val()) {
                alert('Please enter Age');
                $("#Age").focus()
                return false;
            }

            if (!$("#AdharCard").val()) {
                alert('Please enter AdharCard');
                $("#AdharCard").focus()
                return false;
            }

            if (!$("#PANCard").val()) {
                alert('Please enter PANCard');
                $("#PANCard").focus()
                return false;
            }

            if (!$("#Address").val()) {
                alert('Please enter Address');
                $("#Address").focus()
                return false;
            }

            if (!$("#Mobile").val()) {
                alert('Please enter Mobile');
                $("#Mobile").focus()
                return false;
            }

            if (!$("#Email").val()) {
                alert('Please enter Email');
                $("#Email").focus()
                return false;
            }

            ajaxcall.post({
                url: AppConfig.ApiPath + "Customer/AddData",
                data: {
                    Id: id,
                    SiteID: $("#SiteID").val(),
                    PlotID: $("#PlotID").val(),
                    CustomerName: $("#CustomerName").val(),
                    Age: $("#Age").val(),
                    AdharCard: $("#AdharCard").val(),
                    PANCard: $("#PANCard").val(),
                    Address: $("#Address").val(),
                    Mobile: $("#Mobile").val(),
                    Email: $("#Email").val()
                }
            }).then(res => {
                alert("Saved successfully");
                $('a[href="#Payment"]').click();
            }, err => {
                alert(err.responseJSON);
            })
        }


        function savePaymentData() {

            if (!$("#Amount").val()) {
                alert('Please enter Amount');
                $("#Amount").focus()
                return false;
            }

            if (!$("#ChequeNo").val()) {
                alert('Please enter ChequeNo');
                $("#ChequeNo").focus()
                return false;
            }

            if (!$("#Bank").val()) {
                alert('Please enter Bank');
                $("#Bank").focus()
                return false;
            }

            if (!$("#DateOfIssue").val()) {
                alert('Please enter Date Of Issue');
                $("#DateOfIssue").focus()
                return false;
            }

            if (!$("#ChequeDate").val()) {
                alert('Please enter Check Date');
                $("#ChequeDate").focus()
                return false;
            }

            ajaxcall.post({
                url: AppConfig.ApiPath + "Payment/AddData",
                data: {
                    Id: id,
                    PlotID: $("#PlotID").val(),
                    Amount: $("#Amount").val(),
                    ChequeNo: $("#ChequeNo").val(),
                    Bank: $("#Bank").val(),
                    DateOfIssue: $("#DateOfIssue").val(),
                    ChequeDate: $("#ChequeDate").val()
                }
            }).then(res => {
                alert("Saved successfully");
            }, err => {
                alert(err.responseJSON);
            })
        }

        function goBack() {
            window.history.back();
        }
    </script>
}