@{
    Layout = "_Layout.cshtml";
}

<div class="sechead pb5 fs14 mt20 "><h4><b>File Upload</b></h4></div>
<div class="mt-5">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">File Name</label>
            <input type="text" class="form-control" id="FileName">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress">File</label>
            <input type="file" class="form-control" id="Fileupload">
        </div>
    </div>

    <div class="row" style="margin-left:1px !important">
        @*<div class="col-md-12">
            <textarea name="TemplateData" id="TemplateData" rows="10" cols="80"></textarea>
        </div>*@
        <div class="col-md-1 mt-5">
            <button type="submit" style="width: 100%" class="btn btn-primary" onclick="saveData();">Save</button>
        </div>
        <div class="col-md-1 mt-5">
            <button type="submit" style="width: 100%" class="btn btn-danger " onclick="goBack();">Cancel</button>
        </div>
    </div>

</div>
@*<div class="row">*@
@*<div style="width:100%;padding:15px;">
        <table class="table table-hover"
               id="tblTemplateList"
               cellspacing="0"
               align="center"
               width="100%"></table>
    </div>*@
@*</div>*@

@section scripts {
    <script type="text/javascript">
            //$(function () {
            //    LoadTable();
            //})

            //function LoadTable() {
            //    $('#tblTemplateList').DataTable({
            //        dom: "<'row'<'col-sm-3'l><'col-sm-6'p><'col-sm-3 text-align-right'f>>" +
            //            "<'row'<'col-sm-12'tr>>" +
            //            "<'row'<'col-sm-5'i>>",
            //        "processing": true,
            //        "serverSide": true,
            //        "ajax": {
            //            "url": AppConfig.ApiPath + "Template/GetList",
            //            "type": "POST",
            //            "processing": true,
            //            "serverSide": true,
            //            "datetype": "json",
            //            "data": {}
            //        },
            //        "drawCallback": function () {
            //            $(".paginate_button.current").addClass(" actionbtn hor mr-0 ml-1 active").removeClass("paginate_button current");
            //            $(".paginate_button").addClass(" actionbtn hor mr-0 ml-1").removeClass("paginate_button");

            //            AfterDrawTable();
            //        },
            //        "columns": [
            //            {
            //                title: "",
            //                data: "Id",
            //                class: "text-center",
            //                render: (data, display, alldata) => {
            //                    return `<button class ='btnedit actionbtn btn  btn-sm' data-id='${data}'><i class ='fa fa-edit'></i>Edit</button>`;
            //                }
            //            },
            //            {
            //                title: "Template Name",
            //                data: "TemplateName",
            //                class: "text-center"
            //            },
            //            {
            //                title: "Template For",
            //                data: "TemplateFor",
            //                class: "text-center"
            //            }
            //        ]
            //    });
            //}

            //function AfterDrawTable() {
            //    var that = this;
            //    $(".btnedit").click(function () {
            //        let id = $(this).attr('data-id');
            //        window.location.assign("./Template?id=" + id);
            //    })
            //}

            //function AddPatient() {
            //    window.location.assign("Template");
            //}
        function saveData() {
            if (!$("#FileName").val()) {
                alert('Please enter File Name');
                $("#FileName").focus()
                return false;
            }

            if (!$("#Fileupload").val()) {
                alert('Please Select File');
                $("#Fileupload").focus()
                return false;
            }

            var value = CKEDITOR.instances['TemplateData'].getData();
            if (!value) {
                alert('Please enter Template Data');
                return false;
            }

            ajaxcall.post({
                url: AppConfig.ApiPath + "Template/AddData",
                data: {
                    Id: id,
                    TemplateName: $("#TemplateName").val(),
                    TemplateFor: $("#TemplateFor").val(),
                    TemplateData: value
                }
            }).then(res => {
                alert("Saved successfully");
                //window.history.back();
            }, err => {
                alert(err.responseJSON);
            })
        }

        function goBack() {
            window.history.back();
        }
    </script>
}
