@{
    var version = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emoiss Wishes</title>

    <link rel="icon" type="image/png" href="~/Content/images/logo.png" />
    <link href="~/Content/bootstrap.css?v=@version" rel="stylesheet" />
    <link href="~/Content/alertify/alertify.css?v=@version" rel="stylesheet" />
    <link href="~/Content/alertify/theme/alertyfy.bootstrap.min.css?v=@version" rel="stylesheet" />
    <link href="~/Content/select2.min.css?v=@version" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css?v=@version" rel="stylesheet" />
    <link href="~/Content/jquery-ui.structure.css?v=@version" rel="stylesheet" />
    <link href="~/Content/jquery-ui.theme.css?v=@version" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link href="~/Content/fonts/fontawesome-free-5.15.2-web/css/fontawesome.css" rel="stylesheet">
    <link href="~/Content/fonts/fontawesome-free-5.15.2-web/css/brands.css" rel="stylesheet">
    <link href="~/Content/fonts/fontawesome-free-5.15.2-web/css/solid.css" rel="stylesheet">
    <link href="~/Content/asset/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/asset/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/asset/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
           /* max-width: 530px;*/
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }


        #waitLoading {
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 100000;
            /*display:block!important;*/
        }

            #waitLoading .background-shadow {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.2;
            }

            #waitLoading .pleasewait-div {
                margin: auto;
                position: absolute;
                color: white;
                height: 50px;
                width: 50px;
                vertical-align: middle;
                display: block;
                top: 30%;
                /*bottom: 0;*/
                left: 0;
                right: 0;
            }
    </style>
</head>
<body class="text-center">
    <div id="waitLoading" style="display:none">
        <div class="background-shadow"></div>
        <div class="pleasewait-div" role="status">
            <div class="spinner-border text-danger" role="status"></div>
        </div>
    </div>
    <form class="form-signin">
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="accordion" id="accordionExample">
                                        <div class="card">
                                            <div class="card-header" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button class="btn btn-link btn-block text-left collapsed" type="button">
                                                        Sign Up / Forgot password
                                                    </button>
                                                </h2>
                                            </div>
                                            <div class="card-body">
                                                <label for="inputEmail" class="sr-only">Email address</label>
                                                <input type="email" id="signupemail" class="form-control" placeholder="Email address" required autofocus>
                                                <label for="inputPassword" class="sr-only">Password</label>
                                                <input type="password" id="signuppass" class="form-control" placeholder="Password" required>
                                                <div class="row">
                                                    <div class="col col-6"><button class="btn btn-lg btn-primary btn-block mt-2" type="button" onclick="SignUp(0);">Sign Up</button></div>
                                                    <div class="col col-6"><button class="btn btn-lg btn-info btn-block mt-2" type="button" onclick="SignUp(1);">Forgot password</button></div>
                                                </div>
                                                <div class="card-header" id="headingTwo">
                                                    <h2 class="mb-0">
                                                        <button class="btn btn-link btn-block text-left collapsed" type="button"><a href="~/login.cshtml" role="button">
                                                        Sign In
                                                            </a>
                                                    </button>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>


    </form>

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/App/config.js?v=@version"></script>
    <script src="~/Scripts/alertify/alertify.js?v=@version"></script>
    <script src="~/Scripts/select2.min.js?v=@version"></script>
    <script src="~/Scripts/validate.js?v=@version"></script>
    <script src="~/Scripts/jquery-ui.js?v=@version"></script>
    <script src="~/Scripts/App/storage.js?v=@version"></script>
    <script src="~/Scripts/App/ajaxcall.js?v=@version"></script>
    <script src="~/Content/asset/jquery/jquery.min.js"></script>
    <script src="~/Content/asset/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/asset/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/asset/js/sb-admin-2.min.js"></script>
    <!-- Custom validation for registration pages-->
    <script src="~/Content/asset/js/custom.js" type="text/javascript"></script>

    <script type="text/javascript">
        //override defaults
        //alertify.defaults.transition = "slide";
        alertify.defaults.theme.ok = "btn btn-primary";
        alertify.defaults.theme.cancel = "btn btn-danger";
        alertify.defaults.theme.input = "form-control";
        var signinemail = localStorage.username || '';
        $(document).ready(function () {
            $("#signinemail").val(signinemail);
            $("#SignInCollapsible").on("shown.bs.collapse", function () {
                $("#signinemail").val(signinemail);
            });
        });

        function SignIn() {
            ajaxcall.post({
                url: AppConfig.ApiTokenPath,
                data: {
                    grant_type: "password",
                    UserName: $("#signinemail").val(),
                    Password: $("#passcode").val()
                }
            }).then(res => {
                alertify.success("Login successfully");
                localStorage.setItem("expires", res['.expires']);
                localStorage.setItem("issued", res['.issued']);
                localStorage.setItem("Token", res['access_token']);
                localStorage.setItem("expires_in", res['expires_in']);
                localStorage.setItem("token_type", res['token_type']);
                localStorage.setItem("userid", res['userid']);
                localStorage.setItem("userName", res['userName']);
                localStorage.setItem("userRole", res['userRole']);
                location.replace("./Customer_List");

            }, err => {
                alertify.error(err.responseJSON.error_description);
            })
        }

        function SignUp(forgotpass) {
            if ($("#signupemail").val() == "") {
                alertify.error("Please fill email address");
                return;
            }
            ajaxcall.post({
                url: AppConfig.ApiPath + "Login/SignUp",
                data: {
                    Email: $("#signupemail").val(),
                    Password: $("#signuppass").val(),
                    IsForgotPass: forgotpass === 1
                }
            }).then(res => {
                alertify.success("New user generate successfully");
                alertify.success("Please login with '" + $("#signupemail").val() + "' user id");
                signinemail = $("#signupemail").val();
                localStorage.username = signinemail;
                $("#SignInCollapsible").collapse('show');
            }, err => {
                alertify.error(err.responseJSON);
            })
        }
    </script>
</body>
</html>
