@{
    Layout = "_Layout.cshtml";
}


@*<div class="sechead pb5 fs14 mt20 "><b>Quotation</b></div>*@
<div class="mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Company Name</label>
                <select class="form-control" id="CompanyName">
                    <option value="CompanyName">Select Company</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Contact Name</label>
                <select class="form-control" id="ContactName">
                    <option value="">Select Contact</option>
                </select>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="form-group">
                <label for="inputAddress2">Invoice Date</label>
                <input type="date" class="form-control" id="InvoiceDate">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-1">
            <button type="button" class="btn btn-primary" onclick="saveInvoiceData();">Save</button>
        </div>
        <div class="col col-md-1">
            <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
        </div>
    </div>
</div>






@section scripts {
    <script type="text/javascript">
        var id = querySt("id");

         $(function () {
            init();
        })

        async function init() {
            await CompanyDropDownAll();
            await ContactDropDownAll();
            if (id) {
                    GetById();
             }
        }

       function CompanyDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Company/CompanyDropDownAll"
                }).then((res) => {
                    if (res) {
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).appendTo("#CompanyName");
                        }
                    }
                    result();
                }, err => error(err));
            });
        }

        function ContactDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Contact/ContactDropDownAll"
                }).then((res) => {
                    if (res) {
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).appendTo("#ContactName");
                        }
                    }
                    result();
                }, err => error(err));
            });
        }

        function GetById() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Invoice/GetById",
                data: { "Id": id }
            }).then(function (res) {
        console.log(res.DOB);
        const newdate = new Date(res.DOB);
        const dateValue = newdate.toLocaleDateString();

                if (res) {
                    $("#CompanyName").val(res.CompanyID);
                    $("#ContactName").val(res.ContactID);
                    $("#InvoiceDate").val(res.InvoiceDateformate);
                }

            })
        }

        function saveInvoiceData(){
             ajaxcall.post({
                    url: AppConfig.ApiPath + "Invoice/AddData",
                    data: {
                        CompanyName: $("#CompanyName").val(),
                        ContactName: $("#ContactName").val(),
                        InvoiceDate: $("#InvoiceDate").val()
                    }

                }).then(res => {
        console.log(res);
                    //QuotID = res;
                    alert("Saved successfully");
                }, err => {
                    alert(err.responseJSON);
                })


        }

         function goBack() {
                 window.history.back();
        }

    </script>
}
