
@{
    Layout = "_Layout.cshtml";
}


<div class="row mt-2">
    <div class="col-sm-10"><h4>Plot List</h4></div>
    <div class="col-sm-2 text-right">
        <button type="button"
                class="btn btn-info btn-sm" style="float:right;" onclick="AddPlot()">
            Add New
        </button>
    </div>
</div>
<div class="row">
    <div style="width:100%;padding:15px;">
        <table class="table table-hover"
               id="tblPlotList"
               cellspacing="0"
               align="center"
               width="100%"></table>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            LoadTable();
        })

        function LoadTable() {
            $('#tblPlotList').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6'p><'col-sm-3 text-align-right'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i>>",
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": AppConfig.ApiPath + "Plot/GetList",
                    "type": "POST",
                    "processing": true,
                    "serverSide": true,
                    "datetype": "json",
                    "data": {}
                },
                "drawCallback": function () {
                    $(".paginate_button.current").addClass(" actionbtn hor mr-0 ml-1 active").removeClass("paginate_button current");
                    $(".paginate_button").addClass(" actionbtn hor mr-0 ml-1").removeClass("paginate_button");

                    AfterDrawTable();
                },
                "columns": [
                    {
                        title: "",
                        data: "Id",
                        class: "text-center",
                        render: (data, display, alldata) => {
                            return `<button class ='btnedit actionbtn btn  btn-sm' data-id='${data}'><i class ='fa fa-edit'></i>Edit</button>`;
                        }
                    },
                    {
                        title: "Site Name",
                        data: "SiteName",
                        class: "text-center"
                    },
                    {
                        title: "Plot No",
                        data: "PlotNo",
                        class: "text-center"
                    },
                    {
                        title: "Floor",
                        data: "Floor",
                        class: "text-center"
                    },
                    {
                        title: "Carpet Area",
                        data: "CarpetArea",
                        class: "text-center"
                    },
                    {
                        title: "Construction Area",
                        data: "ConstructionArea",
                        class: "text-center"
                    },
                    {
                        title: "Undivided Land",
                        data: "UndividedLand",
                        class: "text-center"
                    },
                    {
                        title: "UndividedLand CommArea",
                        data: "UndividedLandCommArea",
                        class: "text-center"
                    },
                    {
                        title: "Proportionate Land",
                        data: "ProportionateLand",
                        class: "text-center"
                    },
                    {
                        title: "SuperBuildUp",
                        data: "SuperBuildUp",
                        class: "text-center"
                    },
                    {
                        title: "Directions North",
                        data: "DirectionsNorth",
                        class: "text-center"
                    },
                    {
                        title: "Directions South",
                        data: "DirectionsSouth",
                        class: "text-center"
                    },
                    {
                        title: "Directions East",
                        data: "DirectionsEast",
                        class: "text-center"
                    },
                    {
                        title: "DirectionsWest",
                        data: "DirectionsWest",
                        class: "text-center"
                    },
                   @*{
                        title: "Sell Amount",
                        data: "SellAmount",
                        class: "text-center"
                    },
                    {
                        title: "Installments",
                        data: "Installments",
                        class: "text-center"
                    }*@
                ]
            });
        }
       
        function AfterDrawTable() {
            var that = this;
            $(".btnedit").click(function () {
                let id = $(this).attr('data-id');
                window.location.assign("./Plot?id=" + id);
            })
        }

        function AddPlot() {
            window.location.assign("Plot");
        }
    </script>
}
