@{
    Layout = "_Layout.cshtml";
}

<div class="container">
    <div class="sechead pb5 fs14 mt20 "><b>Product</b></div>

    <div>
        <div class="col-md-4 offset-md-4 mt-5">
            <label for="inputAddress">Product Name</label>
            <input type="text" class="form-control" id="ProductName">
        </div>
        <div class="col-md-4 offset-md-4 mt-3">
            <label for="inputAddress">Masure of Unit</label>
            <input type="text" class="form-control" id="MasureofUnit">
        </div>
        <div class="col-md-4 offset-md-4 mt-3">
            <label for="inputAddress2">Defult Rate</label>
            <input type="text" class="form-control" id="DefultRate">
        </div>
        <div class="col-md-4 offset-md-4 mt-5">
            <button type="button" style="width: 100%" class="btn btn-primary" onclick="saveData();">Save</button>
        </div>
    </div>

</div>


@section scripts{
    <script type="text/javascript">
         var id = querySt("id");

        $(function() {
            if (id) {
                GetById();
            }
         })

        function GetById(){
            ajaxcall.post({
                  url: AppConfig.ApiPath + "Product/GetById",
                  data:{"Id": id }
             }).then(function(res){
                    if (res) {
                         $("#ProductName").val(res.ProductName);
                         $("#MasureofUnit").val(res.MasureofUnit);
                         $("#DefultRate").val(res.DefultRate);
                    }
            })
        }

        function saveData(){

                if (!$("#ProductName").val()) {
                        alert('Please enter Product Name');
                        $("#ProductName").focus()
                        return false;
                }

                if (!$("#MasureofUnit").val()) {
                        alert('Please enter Masure of Unit');
                        $("#MasureofUnit").focus()
                        return false;
                }

                if (!$("#DefultRate").val()) {
                        alert('Please enter Defult Rate');
                        $("#DefultRate").focus()
                        return false;
                }

         ajaxcall.post({
                url: AppConfig.ApiPath + "Product/AddData",
                data: {
                        Id : id,
                        ProductName: $("#ProductName").val(),
                        MasureofUnit: $("#MasureofUnit").val(),
                        DefultRate: $("#DefultRate").val()
                }
            }).then(res => {
                alert("Saved successfully");
            }, err => {
                alert(err.responseJSON);
            })
        }
    </script>
}





