@{
    Layout = "_Layout.cshtml";
}


@*<div class="sechead pb5 fs14 mt20 "><b>Quotation</b></div>*@
<div class="mt-5">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a class="nav-link" href="#Quotation" data-toggle="tab" aria-selected="true">Quotation</a>

        </li>
        <li>
            <a class="nav-link" href="#Quotation_items" data-toggle="tab">Quotation items</a>

        </li>
    </ul>
    <div id="Content" class="tab-content">
        <div class="tab-pane fade in active" id="Quotation">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Company Name</label>
                        <select class="form-control" id="CompanyName">
                            <option value="CompanyName">Select Company</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Contact Name</label>
                        <select class="form-control" id="ContactName">
                            <option value="">Select Contact</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group">
                        <label for="inputAddress2">Quotation Date</label>
                        <input type="date" class="form-control" id="QuotationDate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-1">
                    <button type="button" class="btn btn-primary" onclick="saveQuotationData();">Save</button>
                </div>
                <div class="col col-md-1">
                    <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="Quotation_items">
            <div class="mt-1">
                <div style="margin-top:20px">
                    <table class="table table-striped table-hover"
                           id="tblQuotation"
                           cellspacing="0"
                           width="100%">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>HSN Code</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Discount</th>
                                <th>Discounted Price</th>
                                <th>Tax%</th>
                                <th>Tax Amount</th>
                                <th>Total</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-outline-primary btn-sm mr-1" onclick="AddNewRow();">+ Add New</button>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="SaveData();">Save</button>
                <div clss="text-right" style="margin-top: 10px">
                    <div class="row text-right">
                        <div class="col-md-4 offset-md-6">
                            <label for="inputAddress">Sub Total :</label>
                        </div>
                        <div class="col-md-2">
                            <input class="txtSubTotal" name="SubTotal" type="number" required placeholder="Sub Total" />
                        </div>
                    </div>

                    <div class="row text-right">
                        <div class="col-md-4 offset-md-6">
                            <label for="inputAddress">Total Tax :</label>
                        </div>
                        <div class="col-md-2">
                            <input class="txtTotalTax" name="TotalTax" type="number" required placeholder="Total Tax" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 offset-md-6">
                            <div class="form-group">
                                <select class="form-control" id="TDS">
                                    <option value="">Select TDS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control float-right" placeholder="0.00000">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 offset-md-6">
                            <div class="form-group">
                                <select class="form-control" id="TCS">
                                    <option value="">Select TCS</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control float-right" placeholder="0.00000">
                        </div>
                    </div>

                    <div class="row text-right">
                        <div class="col-md-4 offset-md-6">
                            <label for="inputAddress">Total :</label>
                        </div>
                        <div class="col-md-2">
                            <input class="txtAllTotal" name="Total" type="number" required placeholder="Total" />

                        </div>
                    </div>

                    <div style="margin-top: 10px">
                        <label for="inputAddress"><u>Extra Charges</u></label>
                        <button type="button" class="btn btn-outline-primary btn-sm float-right">+ Add New</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>






@section scripts {
    <script type="text/javascript">
        var id = querySt("id");
         var productList = [];
         var $tabs = $('#Content');
         var quotID;

         $(function () {
            init();
        })

        async function init() {
            await ProductDropDownAll();
            await CompanyDropDownAll();
            await ContactDropDownAll();
            if (id) {
                   GetById();
             }
        }

         function ProductDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Product/ProductDropDownAll"
                }).then((res) => {
                    if (res) {
                       productList = res;
                    }
                    result();
                }, err => error(err));
            });
        }

       function CompanyDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Company/CompanyDropDownAll"
                }).then((res) => {
                    if (res) {
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).appendTo("#CompanyName");
                        }
                    }
                    result();
                }, err => error(err));
            });
        }

        function ContactDropDownAll() {
            return new Promise((result, error) => {
                ajaxcall.get({
                    url: AppConfig.ApiPath + "Contact/ContactDropDownAll"
                }).then((res) => {
                    if (res) {
                        for (var i in res) {
                            $("<option>").val(res[i].value).text(res[i].label).appendTo("#ContactName");
                        }
                    }
                    result();
                }, err => error(err));
            });
        }

        function GetById() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Quotation/GetUsingID",
                data: { "Id": id }
            }).then(function (res) {
        console.log(res.DOB);
        const newdate = new Date(res.DOB);
        const dateValue = newdate.toLocaleDateString();

                if (res) {
                    $("#CompanyName").val(res.CompanyID);
                    $("#ContactName").val(res.ContactID);
                    $("#QuotationDate").val(res.QuotationDateformate);
                }

            })
        }

        function AddProducts() {
            for (var i in productList) {
                    $("<option>").val(productList[i].value).text(productList[i].label).data('DefaultRate',productList[i].DefultRate).appendTo('.ProductNameSel:last');
            }
            bindEvent();
        }

        function bindEvent() {
            $('.ProductNameSel').change(function(){
                var rate = $(this).find(':selected').data('DefaultRate');
                $(this).closest('.trOrder').find('.RateTxt').val(rate);
                update_amounts();
            });

            $('.txtQuentity').change(function(){
                update_amounts();
            });

            $('.Ratetxt').change(function(){
                update_amounts();
            });

            $('.txtDiscount').change(function(){
                discount();
            });

             $('.txtTax').change(function(){
                tax();
            });

        }

        function update_amounts() {
            $('.trOrder').each(function() {
                var qty = $(this).find('.txtQuentity').val();
                var price = $(this).find('.RateTxt').val();
                var amount = (qty*price);
                $(this).find('.txtTotal').val(amount);
            });
        }

         function discount() {
            $('.trOrder').each(function() {
                var ttl = $(this).find('.txtTotal').val();
                var disc = $(this).find('.txtDiscount').val();
                var amount = (ttl*disc)/100;
                var ttlprice = parseInt(ttl) - parseInt(amount);

                $(this).find('.txtDiscountedPrice').val(amount);
                $(this).find('.txtTotal').val(ttlprice);
            });
        }

        function tax() {
            $('.trOrder').each(function() {
                var ttl = $(this).find('.txtTotal').val();
                var tax = $(this).find('.txtTax').val();
                var amount = (ttl*tax)/100;

                $(this).find('.txtTaxAmount').val(amount);
            });
        }
        function AddNewRow(){
             $('#tblQuotation > tbody').append(`  <tr class="trOrder">
                    <td>
                        <div class="col pl-0 pr-0">
                            <select class="ProductNameSel">
                                <option value="">Product Name</option>
                            </select>
                        </div>
                    </td>
                    <td><input class="HSNCode" name="HSNCode" type="text" required placeholder="HSN Code" /></td>
                    <td>
                     <input type="number" class="txtQuentity" placeholder="Quantity">
                    </td>
                    <td><input class="RateTxt" name="Rate" type="number" required placeholder="Rate" /></td>
                    <td>
                        <input class="txtDiscount" name="Discount" type="number" required placeholder="Discount" min="0" max="100" />
                    </td>
                    <td><input class="txtDiscountedPrice" name="Discounted Price" type="number" required placeholder="Discounted Price"/></td>
                    <td><input class="txtTax" name="Tax" type="number" required placeholder="Tax%" min="0" max="100"/></td>
                    <td><input class="txtTaxAmount" name="Tax" type="number" required placeholder="Tax%" min="0" max="100"/></td>
                    <td><input class="txtTotal" name="Total" type="text" required placeholder="Total" /></td>
                    <td><i class="fas fa-times btnDelete"></i></td>
                </tr>`);
            $("#tblQuotation").on('click', '.btnDelete', function () {
             $(this).closest('tr').remove();
           });
           AddProducts();
           subTotal();
        }


      function subTotal(){
        var sum = 0;
        var tax = 0;

        $('.txtTotal').each(function() {
            sum += Number($(this).val());
        });
        $('.txtTaxAmount').each(function() {
            tax += Number($(this).val());
        });

         $('.txtSubTotal').val(+Number(sum));
         $('.txtTotalTax').val(+Number(tax));

        var ttlprice = parseInt(sum) + parseInt(tax);
         $('.txtAllTotal').val(+Number(ttlprice));

        }

        function saveQuotationData(){
             ajaxcall.post({
                    url: AppConfig.ApiPath + "Quotation/AddQuotData",
                    data: {
                        CompanyName: $("#CompanyName").val(),
                        ContactName: $("#ContactName").val(),
                        QuotationDate: $("#QuotationDate").val()
                    }

                }).then(res => {
        console.log(res);
                    //QuotID = res;
                    alert("Saved successfully");
                    $('#myTab a[href="#Quotation_items"]').tab('show');
                }, err => {
                    alert(err.responseJSON);
                })


        }

        function SaveData(){
            ajaxcall.post({
                    url: AppConfig.ApiPath + "Quotation/AddData",
                    data: {
                        Id: id,
                        ProductName: $('.ProductNameSel').val(),
                        HSNCode: $('.HSNCode').val(),
                        Quantity:$('.txtQuentity').val(),
                        Rate: $('.RateTxt').val(),
                        Discount: $('.txtDiscount').val(),
                        Tax: $('.txtTax').val(),
                        Total: $('.txtTotal').val()
                    }
                }).then(res => {
                    alert("Saved successfully");
                    window.history.back();
                }, err => {
                    alert(err.responseJSON);
                })
        }

        function goBack() {
                 window.history.back();
        }

    </script>
}
