@{
    Layout = "_Layout.cshtml";
}
<div class="sechead pb5 fs14 mt20 "><h4><b>Site</b></h4></div>
<div class="container mt-5">
    <div class="container mt-5">

        <div class="row">
            <div class="col-md-4">
                <label> Site Name</label>
                <input type="text" class="form-control" id="SiteName">
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label>Addresse</label>
                    <input type="text" class="form-control" id="Address">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="inputAddress2">Rera Number</label>
                    <input type="text" class="form-control" id="OwnerName">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Upload CSC</label>
                <input type="file" class="form-control" id="CSC">
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label>Upload Banakhat</label>
                    <input type="file" class="form-control" id="Banakhat">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="inputAddress2">Upload Sale Deed</label>
                    <input type="file" class="form-control" id="SaleDeed">
                </div>
            </div>
        </div>
        <div class="row" style="display:none;" id="logodiv">
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="uploadlogo">Logo</label>
                    <input type="file" class="form-control" id="Logo" onchange="uploadFile()">
                </div>
            </div>
            <div class="col-md-4 ">
                <img src="~/Content/ClientLogo/emoiss/" alt="Client Logo" style="height:100px;" id="logoimg" />
            </div>
        </div>
        <div class="row" style="display:none;" id="shopdiv">
            <div class="col-md-4 ">
                <div class="form-group">
                    <label for="uploadlogo">Upload Shop/Office excel file</label>
                    <input type="file" class="form-control" id="shopexcel" onchange="shopfilechange()">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <button type="button" class="btn btn-primary" onclick="saveData();">Save</button>
                <button type="button" class="btn btn-danger" style="margin-left:5px;" onclick="goBack();">Cancel</button>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script type="text/javascript">
        var id = querySt("id");

        $(function () {
            if (id) {
                $("#logodiv, #shopdiv").show();
                setLogo();
                GetById();
            }
        })

        function setLogo() {
            let rondom = Math.round(Math.random() * 100000);
            $("#logoimg").attr("src", `./Content/Images/SiteLogos/${id}.png?v=${rondom}`);
        }

        function GetById() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Site/GetById",
                data: { "Id": id }
            }).then(function (res) {
                if (res) {
                    $("#SiteName").val(res.SiteName);
                    $("#Address").val(res.Address);
                    $("#OwnerName").val(res.OwnerName);
                }
            })
        }

        function saveData() {
            if (!$("#SiteName").val()) {
                alert('Please enter Name');
                $("#SiteName").focus()
                return false;
            }

            if (!$("#Address").val()) {
                alert('Please enter Address');
                $("#Address").focus()
                return false;
            }

            if (!$("#OwnerName").val()) {
                alert('Please enter Owner Name');
                $("#OwnerName").focus()
                return false;
            }

            ajaxcall.post({
                url: AppConfig.ApiPath + "Site/AddData",
                data: {
                    Id: id,
                    Name: $("#SiteName").val(),
                    Address: $("#Address").val(),
                    OwnerName: $("#OwnerName").val()
                }
            }).then(res => {
                alert("Saved successfully");
                window.history.back();
            }, err => {
                alert(err.responseJSON);
            })
        }



        function goBack() {
            window.history.back();
        }

        function uploadFile() {
            var data = new FormData();
            var file = $('#Logo')[0].files[0];
            data.append('file', file);
            data.append('siteid', id);
            $.ajax({
                url: AppConfig.ApiPath + '/site/UploadLogo',
                processData: false,
                contentType: false,
                data: data,
                type: 'POST'
            }).done(function (result) {
                if (result == "Uploaded") {
                    setLogo();
                    alert("Logo uploaded successfully!");
                } else {
                    alert(result);
                }
            }).fail(function (a, b, c) {
                console.log(a, b, c);
            });
        }

        function shopfilechange() {
            var data = new FormData();
            var file = $('#shopexcel')[0].files[0];
            data.append('file', file);
            data.append('siteid', id);
            $.ajax({
                url: AppConfig.ApiPath + '/site/UploadPlots',
                processData: false,
                contentType: false,
                data: data,
                type: 'POST'
            }).done(function (result) {
                alert(result);
            }).fail(function (a, b, c) {
                console.log(a, b, c);
            });
        }
    </script>
}