@{
    Layout = "_Layout.cshtml";
}

<div class="sechead pb5 fs14 mt20 "><h4><b>Template</b></h4></div>
<div class="mt-5">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAddress">Template Name</label>
            <input type="text" class="form-control" id="TemplateName">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAddress">Template For</label>
            <select class="form-control" id="TemplateFor" onclick="GetTokenType(TemplateFor.id);">
                <option>Quotation</option>
                <option>Invoice</option>
            </select>
        </div>
    </div>

    <div class="row" style="margin-left:1px !important">
        <div>
            <textarea name="TemplateData" id="TemplateData" rows="10" cols="80"></textarea>
        </div>
    </div>
    <div class="col-md-4 offset-md-4 mt-5">
        <button type="submit" style="width: 100%" class="btn btn-primary" onclick="saveData();">Save</button>
    </div>
    <div class="col-md-4 offset-md-4 mt-1">
        <button type="submit" style="width: 100%" class="btn btn-danger " onclick="goBack();">Cancel</button>
    </div>
</div>



@section scripts {
    <script src="~/Content/ckeditor/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">

        var id = querySt("id");
        $(function () {
            CKEDITOR.replace('TemplateData');
            if (id) {
                GetById();
            }
        })

        function GetById() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "Template/GetById",
                data: { "Id": id }
            }).then(function (res) {
                if (res) {
                    $("#TemplateName").val(res.TemplateName);
                    $("#TemplateFor").val(res.TemplateFor);
                    debugger
                    CKEDITOR.instances['TemplateData'].setData(res.TemplateData);
                }

            })
        }
        function saveData() {

            if (!$("#TemplateName").val()) {
                alert('Please enter Template Name');
                $("#TemplateName").focus()
                return false;
            }

            if (!$("#TemplateFor").val()) {
                alert('Please enter Template For');
                $("#TemplateFor").focus()
                return false;
            }

            var value = CKEDITOR.instances['TemplateData'].getData()
            if (!value) {
                alert('Please enter Template Data');
                return false;
            }

            ajaxcall.post({
                url: AppConfig.ApiPath + "Template/AddData",
                data: {
                    Id: id,
                    TemplateName: $("#TemplateName").val(),
                    TemplateFor: $("#TemplateFor").val(),
                    TemplateData: value
                }
            }).then(res => {
                alert("Saved successfully");
                window.history.back();
            }, err => {
                alert(err.responseJSON);
            })
        }

         function goBack() {
                 window.history.back();
        }

    </script>
}