
@{
    Layout = "_Layout.cshtml";
}


<div class="container">
    <div class="sechead pb5 fs14 mt20 "><b>Template</b></div>

    <form>
        <div class="col-md-4 offset-md-4 mt-5">
            <label for="inputAddress">Template Name</label>
            <input type="text" class="form-control" id="TemplateName">
        </div>
        <div class="col-md-4 offset-md-4 mt-3">
            <label for="inputAddress">Template For</label>
            <input type="text" class="form-control" id="TemplateFor">
        </div>
        <div class="col-md-4 offset-md-4 mt-3">
            <label for="inputAddress2">Template Data</label>
            <input type="text" class="form-control" id="TemplateData">
        </div>
        <div class="col-md-4 offset-md-4 mt-5" >
            <button type="submit" style="width: 100%" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>
