@{
    Layout = "_Layout.cshtml";
}
<div class="sechead pb5 fs14"><h4><b>User</b></h4></div>
<div class="">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a class="nav-link active" href="#list" data-toggle="tab" aria-selected="true">List</a></li>
        <li><a class="nav-link" href="#add" data-toggle="tab">Add</a></li>
    </ul>
    <div id="Content" class="tab-content" style="height: 100%;">
        <div class=" tab-pane fade show active" id="list" aria-labelledby="add-tab">
            <div class="row">
                <div style="width:100%;padding:15px;">
                    <table class="table table-hover"
                           id="tblUserList"
                           cellspacing="0"
                           align="center"
                           width="100%"></table>
                </div>
            </div>
            @* <table class="table table-hover dataTable no-footer">
                    <thead>
                        <tr>
                            <th style="max-width:100px;">&nbsp;</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="max-width:80px;">
                                <button class="btnedit actionbtn btn  btn-sm" data-id="1"><i class="fa fa-edit"></i>Edit</button>
                                <button class="btnedit actionbtn btn  btn-sm" data-id="1"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                            <td>Demo Admin</td>
                            <td>demo@tes.com</td>
                            <td>Admin</td>
                        </tr>
                        <tr>
                            <td style="max-width:80px;">
                                <button class="btnedit actionbtn btn  btn-sm" data-id="1"><i class="fa fa-edit"></i>Edit</button>
                                <button class="btnedit actionbtn btn  btn-sm" data-id="1"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                            <td>Demo Manager</td>
                            <td>manager@tes.com</td>
                            <td>Manager</td>
                        </tr>
                        <tr>
                            <td style="max-width:80px;">
                                <button class="btnedit actionbtn btn  btn-sm" data-id="1"><i class="fa fa-edit"></i>Edit</button>
                                <button class="btnedit actionbtn btn  btn-sm" data-id="1"><i class="fa fa-trash"></i> Delete</button>
                            </td>
                            <td>Demo Sales</td>
                            <td>sales@tes.com</td>
                            <td>Sale</td>
                        </tr>
                    </tbody>
                </table>*@
        </div>
        <div class=" tab-pane fade show" id="add" aria-labelledby="home-tab">
            <div class="row">
                <div class="col-md-12">
                    <label>First Name</label>
                    <input type="text" class="form-control" id="Firstname">
                </div>
                <div class="col-md-12">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="Lastname">
                </div>
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" id="Email">
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label for="inputAddress2">User Name</label>
                        <input type="text" class="form-control" id="Username">
                    </div>
                </div>
                <div class="col-md-12 hideinedit">
                    <div class="form-group">
                        <label for="inputAddress2">Password</label>
                        <input type="text" class="form-control" id="Password">
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="form-group">
                        <label for="inputAddress2">Role</label>
                        <select class="form-control" id="Role">
                            <option>Admin</option>
                            <option>Manager</option>
                            <option>Sale</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-md-12">
                    <button type="button" class="btn btn-primary" onclick="saveUserData();">Save</button>
                    <button type="button" class="btn btn-danger" onclick="goBack();">Cancel</button>
                    <button type="button" class="btn btn-dark" onclick="goBack();">Reset</button>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var id = querySt("id");

        $(function () {

             LoadTable();

            if (id) {
               //GetUserList();
            }
        })

        function LoadTable() {
            $('#tblUserList').DataTable({
                dom: "<'row'<'col-sm-3'l><'col-sm-6'p><'col-sm-3 text-align-right'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i>>",
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": AppConfig.ApiPath + "User/GetUserList",
                    "type": "POST",
                    "processing": true,
                    "serverSide": true,
                    "datetype": "json",
                    "data": {}
                },
                "drawCallback": function () {
                    $(".paginate_button.current").addClass(" actionbtn hor mr-0 ml-1 active").removeClass("paginate_button current");
                    $(".paginate_button").addClass(" actionbtn hor mr-0 ml-1").removeClass("paginate_button");

                    AfterDrawTable();
                },
                "columns": [
                    {
                        title: "",
                        data: "Id",
                        class: "text-center",
                        render: (data, display, alldata) => {
                            return `<button class ='btnedit actionbtn btn  btn-sm' data-id='${data}'><i class ='fa fa-edit'></i>Edit</button>`;
                        }
                    },
                    {
                        title: "Name",
                        data: "Firstname",
                        class: "text-center"
                    },
        {
                        title: "Email",
                        data: "Email",
                        class: "text-center"
                    },
                    {
                        title: "Role",
                        data: "Role",
                        class: "text-center"
                    }
                ]
            });
        }

        function AfterDrawTable() {
            var that = this;
            $(".btnedit").click(function () {
                id = $(this).attr('data-id');
                $('#myTab a[href="#add"]').tab('show');
                ajaxcall.post({
                    url: AppConfig.ApiPath + "User/GetById",
                    data: { "Id": id }
                }).then(function (res) {
                    if (res) {
                        debugger
                        $("#Firstname").val(res.Firstname);
                        $("#Lastname").val(res.Lastname);
                        $("#Email").val(res.Email);
                        $("#Role").val(res.Role);
                        $('.hideinedit').hide();
                        $("#Username").val(res.Username).prop("readonly",true);
                    }
                })
            })
        }

        function GetUserList() {
            ajaxcall.post({
                url: AppConfig.ApiPath + "User/GetUserList",
                data: { "Id": id }
            }).then(function (res) {
                if (res) {
                    $("#Firstname").val(res.Firstname);
                    $("#Lastname").val(res.Lastname);
                    $("#Username").val(res.Username);
                    $("#Email").val(res.Email);
                    $("#Role").val(res.Role);
                }
            })
        }

        function saveUserData() {

            if (!$("#Firstname").val()) {
                alert('Please enter Firstname');
                $("#Firstname").focus()
                return false;
            }

            if (!$("#Lastname").val()) {
                alert('Please enter Lastname');
                $("#Lastname").focus()
                return false;
            }

            if (!$("#Email").val()) {
                alert('Please enter Email');
                $("#Email").focus()
                return false;
            }

            if (!$("#Username").val()) {
                alert('Please enter User Name');
                $("#Username").focus()
                return false;
            }

            if (!$("#Password").val() && id == '0') {
                alert('Please enter Password');
                $("#Password").focus()
                return false;
            }
            debugger
            var userUrl = (id == '0' || id == "" ? "User/AddData" : "User/Edit");
            ajaxcall.post({
                url: AppConfig.ApiPath + userUrl,
                data: {
                    Id: id,
                    Firstname: $("#Firstname").val(),
                    Lastname: $("#Lastname").val(),
                    Email: $("#Email").val(),
                    Username: $("#Username").val(),
                    Password: $("#Password").val(),
                    Role: $("#Role").val(),
                }
            }).then(res => {
                alert("Saved successfully");
                location.replace("/User");
            }, err => {
                alert(err.responseJSON);
            })
        }

        function goBack() {
            location.replace("/User");
        }
    </script>
}
